<div>
  <div class="thm-index-nav">
    <div id="thm-path">
      <h3>3</h3>
    </div>
  </div>
  <div class="thm-index-content">
    <div class="col-sm-10 col-lg-6">
      <div class="thm-search-container">
        <div>
          <h1>Themes</h1>
          <p>Liste de l'ensemble des thèmes de tes clients</p>
        </div>
      </div>
      <div class="themes-cards">
        <% @clients.each do |client| %>
        <div class="card-product">
          <div class="card-product-infos">
            <p>
              <%= link_to (client.name + ' ' + client.surname), client_path(client) %>
            <p>
          </div>
            <%= link_to client_path(client), method: :delete, data: {confirm: "C'est ton ultime bafouille ?"} do %>
          <div class="thm-index-actions">
              <i class="far fa-trash-alt"></i>
          </div>
            <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div>
        <%= link_to 'Créer un thème', new_client_path(@client), :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
